#root {
    width: 100%;
    min-height: 97.5vh;
}
.show-if-split {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

input[type="radio"]:checked ~ .show-if-split {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
}